<div class="container  ">
	<div class="row d-flex justify-content-center">
		<div class="col-10 text-center pt-12 ">
			
			<!-- fila 1  -->
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Tus productos</h5>
							<p class="card-text pb-3">Puedes modificar, eliminar y editar tus productos.</p>
							<a href="gestionproducto" class="btn btn-primary">Gestionar Productos</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Dashboard</h5>
							<p class="card-text pb-3">With supporting text below as a natural lead-in to additional content.</p>
							<a href="dashboard" class="btn btn-primary">Dashboard</a>
						</div>
					</div>
				</div>
			</div>
				
			<!-- fila 2 -->
			<div class="row pt-12 d-flex justify-content-center">
				
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Reportes de Compras</h5>
							<p class="card-text pb-3">Puedes verificar aquí los reportes de compras</p>
							<a href="reportes" class="btn btn-primary">Reportes</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Tus Clientes</h5>
							<p class="card-text pb-3">Gestionar puntos y el N° de clientes recién añadidos.</p>
							<a href="clientes	" class="btn btn-primary">Clientes</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Fila 3 -->
			<div class="row pt-12 d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Mi Perfil</h5>
							<p class="card-text pb-3">Mira tu perfil como admin</p>
							<a href="cuentadmin" class="btn btn-primary">Mi Cuenta</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Gestión de envíos</h5>
							<p class="card-text pb-3">Actualiza el estado de cada envío de tus clientes</p>
							<a href="envios" class="btn btn-primary">Envíos</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>