<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><strong>Mis compras</strong></li>
  </ol>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <section class="time-line-box">
      <div class="swiper-container text-center"> 
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="timestamp"><span class="date">05.11.2022</span></div>
                <div class="status"><span>Pedido Recibido</span></div>
              </div>
              <div class="swiper-slide">
                <div class="timestamp"><span class=".date">12.11.2022</span></div>
                <div class="status"><span>Pedido Listo</span></div>
              </div>
              <div class="swiper-slide">
                <div class="timestamp"><span class="date">12.11.2022</span></div>
                <div class="status"><span>Recojo en Tienda</span></div>
              </div>
            
          </div>
          <div class="swiper-pagination"></div>
      </div>
 </section>
    <div class="col-10 ">
      <table class="table table-striped">      
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Descripción</th>
            <th scope="col">Selecciona</th>      
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><img src="./assets/casaca.jpg" style="height: 100px;"></td>
            <td>Camisa Hombre
              <li><strong>Color:</strong> Negro</li>
              <li><strong>Código:</strong> #123456789</li>
              <li><strong>Cantidad:</strong> 1 </li>
            </td>
            <td>
              <ul class="pb-2">Estado:  <strong> Compra en camino</strong></ul>

              <strong>Despacho a domicilio:</strong>

              <ul>Llega el 4 de novienbre</ul>
             
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><img src="./assets/camisa.jpg" style="height: 100px;"></td>
            <td>Camisa Hombre
              <li><strong>Color:</strong> Negro</li>
              <li><strong>Código:</strong> #123456789</li>
              <li><strong>Cantidad:</strong> 1 </li>
            </td>
            <td>
              <ul class="pb-2">Estado:  <strong> Compra entregada </strong></ul>

              <strong>Despacho a domicilio:</strong>

              <ul>Entre 08:00 y 20:00 hrs.</ul>
             
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><img src="./assets/jeans.jpg" style="height: 100px;"></td>
            <td>Camisa Hombre
              <li><strong>Color:</strong> Negro</li>
              <li><strong>Código:</strong> #123456789</li>
              <li><strong>Cantidad:</strong> 1 </li>
            </td>
            <td>
              <ul class="pb-2">Estado:  <strong> Compra entregada </strong></ul>

              <strong>Retiro en tienda:</strong>
              <p>Trujillo tienda ropamoda</p>
             
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><img src="./assets/jeans.jpg" style="height: 100px;"></td>
            <td>Camisa Hombre
              <li><strong>Color:</strong> Negro</li>
              <li><strong>Código:</strong> #123456789</li>
              <li><strong>Cantidad:</strong> 1 </li>
            </td>
            <td>
              <ul class="pb-2">Estado:  <strong> Compra entregada </strong></ul>

              <strong>Retiro en tienda:</strong>
              <p>Trujillo tienda ropamoda</p>
             
            </td>
          </tr>
        </tbody>
      </table>
      <strong>Mis Puntos: </strong>
      35 Puntos acumulados 
         
    </div>
    <!-- <div class="container ">
      <div class="pb-4 " style="text-align: center;" >
        <a  href="pago"><img /><button class="btn btn-primary"  >Añadir al carrito</button></a>
      </div>
    </div> -->
    </div>
  </div>

