.container{
    padding: 3%;
}
.cajitadisponible{
    position: absolute;
    top:62.8%;
    left: 0%;
    background-color: green;
    color: white;
    
}
.cajitaagotado{
    position: absolute;
    top:62.8%;
    left: 0%;
    background-color: rgb(176, 0, 0);
    color: white
    
}
.btn{
    background-color: rgb(46, 74, 165);
    color: white;
}
