
.color {
  width: 350px;
  margin: 0 auto;
}
.color li {
  margin: 0 15px 0 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 0
  ;
}
.color .red {
  background: #fa5a5a;
  cursor: pointer;
}
.color .yellow {
  background: #c9a507;
  cursor: pointer;
}
.color .green {
  background: #82c8a0;
  cursor: pointer;
}
.color .cyan {
  background: #7fccde;
  cursor: pointer;
}
.color .blue {
  background: #003978;
  cursor: pointer;
}
.color .purple {
  background: #cb99c5;
  cursor: pointer;
};