<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="carritocompras">Carrito de compras</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>Pago</strong></li>

    </ol>
</nav>

<div class="container mt-12 d-flex justify-content-center">
  
  <div class="col-md-5">
    
      <p style="font-size: 20px; margin-bottom:1em"><strong>Resumen de tu orden</strong></p>
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card-body ">
          <h5 >Productos (2) <br> Total: s/ 205</h5>
          <p style="margin-top: 1em; margin-bottom: 1em;">Entrega a domicilio</p>
          <div class="row" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-2">
              <div class="card">
                <img src="./assets/camisa.jpg" style="height: 100%;">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card" style="border-color: transparent;">
                Camisa gris Hombre formal
                <ul style="font-size:small">  1 Unidad </ul>
              </div>
            </div>
          </div>
          <!-- separacion de productos a pagar -->
          <div class="row" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-2">
              <div class="card">
                <img src="./assets/jeans.jpg" style="height: 100%;">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card" style="border-color: transparent;">
                Pantalón Jean's Mujer Zara
                <ul style="font-size:small">  2 Unidad </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
 
  </div>
  
  <!-- Cantidad de producto y suma -->

  <div class="col-sm-4">
    <p style="font-size: 20px; margin-bottom:1em"><strong>Resumen de tu orden</strong></p>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="card-body ">
        <div id="Checkout" class="inline">
          <h1 class="text-center" style="font-size: 20px;">Completar Informacion de Pago</h1>
          <div class="card-row">
              <span class="visa"></span>
              <span class="mastercard"></span>
              <span class="amex"></span>
              <span class="discover"></span>
          </div>
          <form>
              <div class="form-group">
                  <p>TOTAL: <br> S/ 250.00</p>
              
              </div>
              <div class="form-group">
                  <input id="NameOnCard" class="form-control" placeholder="Ingrese número de tarjeta" type="text" maxlength="16">
              </div>
              <div class="form-group">
                <input id="NameOnCard" class="form-control" placeholder="MM / YY" type="text" maxlength="4">
              </div>
              <div class="form-group">
                <input id="NameOnCard" class="form-control" placeholder="Código de Seguridad" type="text" maxlength="3">
              </div>
              <div class="custom-control custom-checkbox" style="padding-top: 2.5em">
                <input type="checkbox" class="custom-control-input" id="customCheck1" >
                <label class="custom-control-label" for="customCheck1">
                  <p> Recordar tarjeta</p>
                </label>
              </div>
      <a class="btn btn-success d-flex justify-content-center" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 1em; margin-top: 1em; ">Continuar compra</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="./assets/pagoexitoso.png" alt="">
      </div>
      <div class="modal-footer">
        <a href="miscompras" class="btn btn-success d-flex justify-content-center"  style="border-radius: 1em; margin-top: 1em; ">Ver mis Compras</a>
        
      </div>
    </div>
  </div>
</div>

