

<div id="inicador" class="carousel slide" data-ride="carousel">

  <!-- indicadores -->
  <ul class="carousel-indicators">
    <li data-target="#inicador" data-slide-to="0" class="active"></li>
    <li data-target="#inicador" data-slide-to="1"></li>

  </ul>

  <!-- desplazamientos -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/slider1.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="./assets/slider3.jpg" alt="New York" width="100" height="500">
    </div>
  </div>


  <!-- controles -->
  <a class="carousel-control-prev" href="#inicador" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#inicador" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

 <!-- Personalizar Prenda-->
 <div class="col-12 text-center" style="margin-top: 5%">
  <p>¿Quieres Personalizar tu prenda?</p>
    <a class="btn " href="personalizar">Personalizar</a>
</div>


<div  class="container">
  <div class="card">
    <img src="./assets/casaca.jpg">
    <div class="card-text">
      <h4>CASACA DE CUERO</h4>
      <p>Casaca Biker Negro,
        de Cuero Poliuretano para hombre Slim Fit </p>
      <div style="text-align:center">
        <a class="btn " href="producto">Ver producto</a>
      </div>


    </div>

  </div>
  <div class="card">
    <img src="./assets/polo.jpg">
    <div class="card-text">
      <h4>ROPA</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div style="text-align:center">
        <a class="btn " href="producto">Ver producto</a>
      </div>
    </div>

  </div>
  <div class="card">
    <img src="./assets/jeans.jpg">
    <div class="card-text">
      <h4>JEANS</h4>
      <p>Jean Index para mujer Wideleg Inx TTemp. </p>
      <div style="text-align:center">
        <a class="btn " href="producto">Ver producto</a>
      </div>
    </div>

  </div>
  <div class="card">
    <img  src="./assets/camisa.jpg">
    <div class="card-text">
      <h4>CAMISA</h4>
      <p>John Holden camisa manga larga para hombres. </p>
      <div style="text-align:center">
        <a class="btn " href="producto">Ver producto</a>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="./assets/short.jpg">
    <div class="card-text">
      <h4>SHORT</h4>
      <p>Short Hombre Huntington. </p>
      <div style="text-align:center">
        <a class="btn " href="producto">Ver producto</a>
      </div>
    </div>
  </div>

</div>
<div style="background-color: rgb(83, 192, 239); padding: 0%;" class="container">



  <div class="col-7 text-center" style="margin-top: 7%">
    <p>En esta temporada usualmente se ven colores llamativos y diferentes estampados, siluetas frescas, sueltas y telas livianas. Los accesorios tienden a ser grandes y
      los zapatos descubiertos. Estas colecciones se presentan a mediados de septiembre y su llegada a las tiendas es en febrero.</p>
    <a class="bg-orange-500 hover:bg-orange-dark text-white font-bold py-2 px-4 mt-4 rounded cursor-pointer hover:opacity-80" type="button">
      Ver Más
    </a>
  </div>
  <div class="col-4">
    <img src="./assets/primavera.png" style="height: 300px; ">
  </div>

</div>






















<style>

.carousel-inner img {
  width: 100%;
  height: 500px;
}
</style>
