.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto img{
    width: 220px;
    height: 280px;

}

.producto{
    margin: 28px
}

.producto p{
    text-align: center;
    font-size: 18px;
}

.btn{
    color: white;
    background-color: red;
    margin-top: 1em;
    

}

label{ color:grey;}
input[type = "radio"]{ display:none;}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  .btn1{
    color: white;
    background-color: rgb(46, 223, 46);
    padding: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }

  .cajitadisponible{  
    top: -80px;
    left:0%;
    background-color: green;
    color: white;
    
}