<div class="container pt-5 pb-5">
    <div class="row d-flex justify-content-center pb-5" style="margin-left: 80%">
        <button  >
          <a href="admin" class="btn btn-secondary " style="border-radius: 1em; margin-top: 1em; ">Regresar</a>
        </button>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">#</th>
                        <th scope="col">Nombre producto</th>
                        <th scope="col-4">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Código</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Polo hombre </td>
                        <td >2</td>
                        <td>S/ 50.00</td>
                        <td>#FT1234567</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Chompa hombre</td>
                        <td>1</td>
                        <td>S/70.00</td>
                        <td>#RTYQOL453</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Chompa mujer invierno</td>
                        <td>1</td>
                        <td>S/ 75.00</td>
                        <td>#MTYUI1234</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Gorro niño</td>
                        <td>2</td>
                        <td>S/ 45.00</td>
                        <td>#QPÑOT1983</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>