<nav style="padding-right: 3em ; height: 70px;" class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">

    <div class="container">
        <div class="btn-group" >
            <button style="margin-right: 5em;" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </button>
            <div class="dropdown-menu dropdown-menu-right" >

              <button class="dropdown-item" routerLink="ropahombre" type="button">Ropa hombre</button>
              <button class="dropdown-item" routerLink="ropamujer" type="button">Ropa mujer</button>
              <button class="dropdown-item" routerLink="ropanino" type="button">Ropa niños</button>
            </div>
        </div>
        <div class="mx-1">
            <div class="wrap">
                <div class="search">
                   <input type="text" class="searchTerm" placeholder="Buscar producto?">
                    <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
  
  </nav>
   
   
  