<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>Producto</strong></li>
    </ol>
</nav>
<div class="container">

    <div class="container text-center">
    
        <div  style="padding: 10px; justify-content: center;" class="row mt-10">
            <div  class="col-md-5">        
                <img class="content" src="./assets/polo.jpg" alt="imagen" style="height: 70%; width: 100%;"/>
            </div>
            <div style="text-align: start"  class="col-md-4 ">
                <p style="font-size: 25px;"><strong>Nombre del producto</strong></p>
                <p style="font-size: 15px;">Especificaciones</p>
                <p>Precio</p>
                <p>País Proveedor</p>
                <p>Marca</p>
                <p>Garantía</p>
            <div style="text-align: center;">
                <button type="button" class="btn btn-light btn-sm">-</button>
                <input id="cantidad" type="text" style="text-align: center;" value="1">
                <button type="button" class="btn btn-light btn-sm">+</button>
            </div>
            
            <div class="mt-5" style="text-align: end;" >
                <a  href="carritocompras"><img /><button class="btn btn-primary"  >Añadir al carrito</button></a>
            </div>
           
            </div>
        </div>
    </div>

    ''
</div>


