<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="producto">Producto</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>Comprar</strong></li>

    </ol>
</nav>
<div class="container">

    <div class="container text-center">
    
        <div  style="padding: 10px; justify-content: center;" class="row mt-10">
            <div  class="col-md-5">        
                <img src="./assets/polo.jpg" alt="imagen" style="height: 70%; width: 100%;"/>
            </div>
            <div style="text-align: start"  class="col-md-4 ">
                <p style="font-size: 25px;"><strong>Nombre del producto</strong></p>
                <p style="font-size: 15px;">Especificaciones</p>
                <p>*ESPECIFICACIÓN DEL PRODUCTO*</p>      
                <p>*ESPECIFICACIÓN DEL PRODUCTO*</p>     
                <p>*ESPECIFICACIÓN DEL PRODUCTO*</p>

                <div style="text-align: center; margin-top: 20px;">
                <p> *PRECIO TOTAL*</p></div>
            <div class="mt-5" style="text-align: end;" >
            
                <a  href="pago"><img /><button class="btn btn-primary"  >Ir a pagar</button></a>
            </div>
            </div>
        </div>
    </div>

</div>
