<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><strong>Registro</strong></li>
   </ol>
</nav>
<div class="container">

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col max-w-lg m-auto">
      <div>
          <div class="flex flex-col">

              <h1 class="text-center" style="margin-bottom: 2em; font-size: 25px; font-weight: bold;" >Registrarse</h1>
                <input type="text" name="Nombre" placeholder= "Nombre" size="90" required />
                <input type="text" name="Apellidos" placeholder= "Apellidos" size="90" required />   
                <input type="email" name="Correo Electrónico" placeholder="Correo Electrónico" size="50" required />   
                <input type="text" name="Contraseña" placeholder="Contraseña" size="15"required />
                <h1>Fecha de Nacimiento:</h1>
                <input type="date">
                <h1>Sexo:</h1>
                <select class="genero form-control">
                  <option selected> Masculino</option>
                  <option>Femenino</option>
                </select>

                <input type="text" name="Dirección" placeholder="Dirección" size="100"required />
                
          </div>
        </div>
        
      <div class="flex items-center justify-between">
              <a class="inline-block align-baseline font-bold text-sm text-red-500 hover:text-red-darker">
                ¿Olvidaste tu contraseña?
              </a>
        </div>
        <br>
        <div class="row d-flex justify-content-center"> 
          <a class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded cursor-pointer hover:opacity-80" href="login" type="button">
            Registrar
          </a>                
        </div>

        <br>
        
        <p>¿Ya tienes una cuenta? <a class="link" href="login"><b>Inicia Sesión</b></a></p> 
    </div>
</div>


