<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><strong>Carrito de compras</strong></li>
  </ol>
</nav>
<div class="container mt-12 d-flex justify-content-center">
  
  <div class="col-md-6">
    <p style="font-size: 20px; margin-bottom:1em"><strong>Carrito</strong></p>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-1">
          <div class="custom-control custom-checkbox" style="padding-top: 2.5em">
            <input type="checkbox" class="custom-control-input" id="customCheck1" >
            <label class="custom-control-label" for="customCheck1">
            </label>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="./assets/jeans.jpg" style="height: 100%;">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card" style="border-color: transparent;">
            Pantalón Jean's Mujer Zara

            <ul style="font-size:small"><strong>Código:</strong>  444423538</ul>
            
            <ul style="font-size:small"><strong>Marca:</strong>  Zara</ul>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="border-color: transparent;">
            <strong>S/ 150.00 </strong>
            ✓ Envío a domicilio<br> X Retiro en tienda
          </div>
        </div>
      </div>
    </div>


    <!-- Separaa -->

    
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-1">
          <div class="custom-control custom-checkbox" style="padding-top: 2.5em">
            <input type="checkbox" class="custom-control-input" id="customCheck2" >
            <label class="custom-control-label" for="customCheck2">
            </label>
          </div>
        </div>
          <div class="col-2">
            <div class="card">
              <img src="./assets/camisa.jpg" style="height: 100%;">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="card" style="border-color: transparent;">
              Camisa gris Hombre formal

              <ul style="font-size:small"><strong>Código:</strong>  123456789</ul>
              
              <ul style="font-size:small"><strong>Marca:</strong>  Azzorti</ul>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="border-color: transparent;">
              <strong>S/ 55.00 </strong>
              ✓ Envío a domicilio<br> ✓ Retiro en tienda
            </div>
          </div>
   
      </div>
    </div>
  </div>
  
  <!-- Cantidad de producto y suma -->

  <div class="col-sm-4">
    <p style="font-size: 20px; margin-bottom:1em"><strong>Resumen de tu orden</strong></p>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="card-body ">
        <h5 >Productos (2) <br> Total: s/ 205</h5>
        <p style="margin-top: 1em;">Elige un tipo de entrega</p>
        <select name="select">
          <option value="value1"> selecciona </option>
          <option value="value2" >Entrega a domicilio</option>
          <option value="value3">Retiro en tienda</option>
        </select>
      </div>
      <a href="pago" class="btn btn-primary d-flex justify-content-center" style="border-radius: 1em; margin-top: 1em; ">Continuar compra</a>
    </div>
  </div>
</div>
